<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/">
        <ion-icon name="caret-back-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
  <ion-title>Dispositivo: {{disp.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="highcharts" style="width: 100%; height: 300px;"></div>
  <br>
  <ion-button expand="block" shape="round" (click)="cambiarEstadoEV()">
    <p *ngIf="!estadoEV"> Abrir Electroválvula</p>
    <p *ngIf="estadoEV" > Cerrar Electroválvula</p>
    <ion-icon slot="end" name="caret-forward"></ion-icon>
  </ion-button>
  <ion-button expand="block" shape="round"  routerLink="/medicion/{{disp.dispositivoId}}" >
    <p >Ver todas las Mediciones</p>
    <ion-icon slot="end" name="caret-forward"></ion-icon>
  </ion-button>
  <ion-button expand="block" shape="round" routerLink="/log/{{disp.dispositivoId}}">
    <p>Ver logs de riego</p>
    <ion-icon slot="end" name="caret-forward"></ion-icon>
  </ion-button>
</ion-content>
