<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/dispositivo/{{dispositivo.dispositivoId}}">
        <ion-icon name="caret-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Logs de Riegos del Dispositivo: {{dispositivo.nombre}}</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">
    <ion-row class="header-row">
      <ion-col>
        <ion-text>Fecha</ion-text>
      </ion-col>
      <ion-col>
        <ion-text> Estado </ion-text>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let lg of logs" appResaltar>
      <ion-col>
        <ion-text>
          {{lg.fecha}}
        </ion-text>
      </ion-col>
      <ion-col>
        <ion-text>
          {{lg.apertura | abiertaCerrada}}
          <!-- {{lg.apertura }} -->
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
